* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-height: 800px;
  max-width: 480px;
  font-family: Arial;
  font-size: 17px;
}
#blackground{
    background: #000;
    min-width: 480px;
    min-height: 800px;
}
#preview {
  right: 0;
  width: 480px;
  max-height: 800px;
}

.content {
  position: fixed;
  bottom: 140px;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 480px;
  max-height: 220px;
  padding: 20px;
}

.settings {
  position: fixed;
  top:0;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 480px;
  max-height: 800px;
  padding: 20px;
}

#btnMenu {
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 480px;
  padding: 20px;
}


.btn {
  width: 190px;
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  background: #4CAF50;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;

}

.btnRound {
  width: 60px;
    height: 60px;
  font-size: 24px;
  padding: 10px;
    margin: 10px;
  border: none;
  border-radius: 50%;
  background: #4CAF50;
  color: #fff;
  opacity: 1;

}

.btn:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 440px;
  height: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 50px;
  height: 50px;
  background: #4CAF50;
  cursor: pointer;
}