<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Lewis Workshop Scanner</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

   </head>
   <body>
       <div id="blackground">
           <div id="btnMenu">
               <button class="btnRound" onclick="httpGet('/gantryHome')">ZH</button>
               <button class="btnRound" onclick="httpGet('/gantryUp')">Z+</button>
               <button class="btnRound" onclick="httpGet('/gantryDown')">Z-</button>
               <button class="btnRound" onclick="httpGet('/setZMax')">ZT</button>
               <button class="btnRound" onclick="httpGet('/setZMin')">ZB</button>
           </div>
           <img src="/video_feed" id="preview">
           <div class="content">
            <p>Scan Quality:</p>
            <input type="range" min="1" max="24" value="12" class="slider" id="scanQtyRange">
            <hr>
            <div id="buttons">
                <button class="btn" onclick="httpGet('/doScan')">Scan</button>
                <button class="btn" onclick="window.location.replace('/settings')">Menu</button>
            </div>
           </div>
       </div>
   </body>
  
  <script type="text/JavaScript">
  function httpGet(theUrl)
  {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }

  </script>
</html>