<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Lewis Workshop Scanner</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

   </head>
   <body>
       <img src="/video_feed" id="preview">
       <div class="settings">
           <h1>Laser Settings</h1>
           <p>
           <input type="checkbox" id="llaser" name="llaser" value="Left Laser">
           <label for="llaser"> Left Laser</label><br/>
           <input type="checkbox" id="rlaser" name="rlaser" value="Right Laser">
           <label for="rlaser"> Right Laser</label><br/>
           </p>
           <h1>Scan Settings</h1>
           <p>
           <input type="checkbox" id="silhouette" name="silhouette" value="silhouette">
           <label for="silhouette">Silhouette enhance</label><br/>
           <input type="checkbox" id="HoleCut" name="holeCut" value="holeCut">
           <label for="Holecut"> Hole Cutting</label><br/>
           <input type="checkbox" id="imgOnly" name="imgOnly" value="imgOnly">
           <label for="imgOnly"> Images Only</label><br/>
           <br/>
           <label for="zTop">Z Top </label>
           <input type="number" id="zTop" name="zTop"  min="1" max="{{GANTRY_HEIGHT}}"><br/>
           <label for="zBtm">Z Bottom </label>
           <input type="number" id="zBtm" name="zBtm" ><br/>
           <label for="zSteps">Z Steps </label>
           <input type="number" id="zSteps" name="zSteps" min="1" max="{{GANTRY_HEIGHT}}"><br/>
           

           </p>
           
           
           <p>
        CAMERA SETTINGS: 
        RESOLUTION
        FRAMERATE
        SHUTTER SPEED
           
        SCAN SETTINGS:   
        USE LASERS: LEFT RIGHT BOTH - Which lasers to scan with
        SILHOUETTE ENHANCE - Use object edge to enhance scan?
        ZTOP - max scanning height
        ZBOT - min scanning height
        ZSTEPS - How many mm between vertical scans?
        CAPTURE COLOURS - get surface textures?
        LINE DETECTION - Inner edge, outer edge, mid
        CUT HOLES - detect background to find holes in objects (think teapot handle)
        IMAGES ONLY - process offline later, just capture the images now
        POINT CLOUD ONLY - don't mesh the data
        Scan filename

           </p>
   </body>
  
  <script type="text/JavaScript">
  function httpGet(theUrl)
  {
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }

  </script>
</html>