<!DOCTYPE html>


<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Lewis Workshop Scanner</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

   </head>
   <body>
       <div class="centered">
           <H1>Please Wait</H1>
           <img src="{{ url_for('static', filename='images/loading.gif') }}">
       </div>
       
        <script>
            // Check to see whether scanner is ready, and redirect to main page if so.
        setInterval(checkStatus, 1000)
        async function checkStatus() {
            let req = await fetch('/ready');

            if (req.ok) {window.location.replace("/");            
            }
          }
        </script>

</body>
</html>